*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: #42273B;
    height: 5rem;
    line-height: 5rem;
    font-size: 4rem;
    color:aliceblue;
    padding: 1rem;
}
body{
    background-color: #DAF7DC;
}
.choices{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.choice:hover{
    background-color: white;
    cursor: pointer;
    transform: scale(1.2);
}
.choice{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
img{
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.3s ease;
}
.score-card{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 3rem;
}
#comp-score, #user-score{
    font-size: 5rem;
}
.msg-cont{
    margin-top: 2rem;
}
#msg{
    background-color: #70566D;
    font-size: 2rem;
    display: inline;
    padding: 5px;
    border-radius: 10px;
    color:aliceblue
}

.socre-card p{
    font-weight: bold;
}